[Unit]
Description=Update sshfzf cache

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/kgn/git/scripts/sshfzfupdatecache.sh

[Install]
WantedBy=default.target
