defaults
auth	on
tls	on
tls_starttls on
tls_trust_file	/etc/ssl/certs/ca-certificates.crt
logfile	~/.config/msmtp/msmtp.log

account greyhat
host {{ .smtpserver }}
port 587
from {{ .emailgreyhat }}
user {{ .emailgreyhat }}
domain greyhat.dk
passwordeval "pass mutt-wizard-greyhat"

account lxc
host {{ .smtpserver }}
port 587
from {{ .emaillxc }}
user {{ .emaillxc }}
domain lxc.dk
passwordeval "pass mutt-wizard-lxc"

account insec
host {{ .smtpserver }}
port 587
from {{ .emailinsec }}
user {{ .emailinsec }}
domain insecurity.dk
passwordeval "pass mutt-wizard-insec"

account dmarc
host {{ .smtpserver }}
port 587
from {{ .emaildmarc }}
user {{ .emaildmarc }}
domain greyhat.dk
passwordeval "pass mutt-wizard-dmarc"

account groupone
host smtp.office365.com
port 587
from {{ .emailgroupone }}
user {{ .emailgroupone }}
auth xoauth2
passwordeval "python3 /usr/share/neomutt/oauth2/mutt_oauth2.py --encryption-pipe 'gpg --encrypt --recipient 55C071C5578521447902FA57C8F3E09F8C1B97A2' /home/{{ .chezmoi.username}}/.password-store/group.one-m365-oauth2-token.gpg"

