# vim: filetype=neomuttrc
# muttrc file for account groupone
set realname = {{ .name | quote }}
set from = {{ .emailgroupone | quote }}
set sendmail = "msmtp -a groupone"
alias me {{ .name }} <{{ .emailgroupone }}>
set folder = "/home/{{ .chezmoi.username }}/.local/share/mail/groupone"
set header_cache = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/groupone/headers
set message_cachedir = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/groupone/bodies
set mbox_type = Maildir

set status_format="-%r-$from: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---"

bind index,pager gg noop
bind index,pager g noop
bind index,pager M noop
bind index,pager C noop
bind index gg first-entry
# macro index o "<shell-escape>mailsync -V one<enter>" "run mbsync to sync one"
unmailboxes *

set spoolfile = "+INBOX"
set record = "+Sent Items"
set postponed = "+Drafts"
set trash = "+Deleted Items"
mailboxes "=INBOX" "=2023" "=2022" "=2021" "=2020" "=2019" "=Asana" "=OpsSystems" "=ServerStatus" "=Jira" "=Junk Email" "=Trash" "=Sent Items" "=Deleted Items"
macro index,pager gi "<change-folder>=INBOX<enter>" "go to inbox"
macro index,pager Mi "<save-message>=INBOX<enter>" "move mail to inbox"
macro index,pager Ci "<copy-message>=INBOX<enter>" "copy mail to inbox"
macro index,pager gt "<change-folder>=Deleted Items<enter>" "go to trash"
macro index,pager ga "<change-folder>=Asana<enter>" "go to Asana"
macro index,pager gj "<change-folder>=Jira<enter>" "go to Jira"
macro index,pager go "<change-folder>=OpsSystems<enter>" "go to OpsSystems"
macro index eT "<change-folder>=Deleted Items<enter><delete-pattern>~A<enter>"

# Current year
save-hook . =%[%Y]

set signature="~/.config/neomutt/signatures/6-groupone-signature"

set crypt_use_gpgme=no
set crypt_replysign=no
set crypt_replysignencrypted=no
set crypt_verify_sig=no
set pgp_use_gpg_agent = no
set pgp_verify_sig=no
set pgp_autosign=no
set pgp_replyencrypt=no
