# vim: filetype=neomuttrc
# muttrc file for account one
set realname = {{ .name | quote }}
set from = {{ .emailone | quote }}
set sendmail = "msmtp -a one"
alias me {{ .name }} <{{ .emailone }}>
set folder = "/home/{{ .chezmoi.username }}/.local/share/mail/one"
set header_cache = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/one/headers
set message_cachedir = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/one/bodies
set mbox_type = Maildir

set status_format="-%r-$from: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---"

bind index,pager gg noop
bind index,pager g noop
bind index,pager M noop
bind index,pager C noop
bind index gg first-entry
# macro index o "<shell-escape>mailsync -V one<enter>" "run mbsync to sync one"
unmailboxes *

set spoolfile = "+INBOX"
set record = "+Sent"
set postponed = "+Drafts"
set trash = "+Trash"
mailboxes "=INBOX" "=2023" "=2022" "=2021" "=2020" "=2019" "=Sent" "=Trash" "=Spam" "=Asana" "=Absent" "=OpsSystems" "=ServerStatus" "=Jira"
macro index,pager gi "<change-folder>=INBOX<enter>" "go to inbox"
macro index,pager Mi "<save-message>=INBOX<enter>" "move mail to inbox"
macro index,pager Ci "<copy-message>=INBOX<enter>" "copy mail to inbox"
macro index,pager gt "<change-folder>=Trash<enter>" "go to trash"
macro index,pager Mt "<save-message>=Trash<enter>" "move mail to trash"
macro index,pager Ct "<copy-message>=Trash<enter>" "copy mail to trash"
macro index,pager gS "<change-folder>=Spam<enter>" "go to spam"
macro index,pager MS "<save-message>=Spam<enter>" "move mail to spam"
macro index,pager CS "<copy-message>=Spam<enter>" "copy mail to spam"
macro index,pager ga "<change-folder>=Asana<enter>" "go to Asana"
macro index,pager gj "<change-folder>=Jira<enter>" "go to Jira"
macro index,pager go "<change-folder>=OpsSystems<enter>" "go to OpsSystems"
macro index eT "<change-folder>=Trash<enter><delete-pattern>~A<enter>"

# Current year
save-hook . =%[%Y]

set signature="~/.config/neomutt/signatures/2-one-signature"

# GPG
source ~/.config/neomutt/gpg.rc

send-hook "~f @one.com" set pgp_sign_as=22C5066A72DFD1AB1DD3EE95414D0C37770A0D42
bind compose p pgp-menu
macro compose Y pfy "send mail without GPG"
set crypt_use_gpgme=yes
set crypt_replysign=yes
set crypt_replysignencrypted=yes
set crypt_verify_sig=yes
set pgp_use_gpg_agent = yes
set pgp_verify_sig=yes
set pgp_timeout=3600
set pgp_autosign=yes
set pgp_replyencrypt=yes

