# vim: filetype=neomuttrc
# muttrc file for account lxc
set realname = {{ .name | quote }}
set from = {{ .emaillxc | quote }}
set sendmail = "msmtp -a lxc"
alias me {{ .name }} <{{ .emaillxc }}>
set folder = "/home/{{ .chezmoi.username }}/.local/share/mail/lxc"
set header_cache = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/lxc/headers
set message_cachedir = /home/{{ .chezmoi.username }}/.cache/mutt-wizard/lxc/bodies
set mbox_type = Maildir

set status_format="-%r-$from: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---"

bind index,pager gg noop
bind index,pager g noop
bind index,pager M noop
bind index,pager C noop
bind index gg first-entry
# macro index o "<shell-escape>mailsync -V lxc<enter>" "run mbsync to sync lxc"
unmailboxes *

set spoolfile = "+INBOX"
set record = "+Sent"
set postponed = ""
set trash = "+Trash"
mailboxes "=INBOX" "=DanskSpamklage" "=Sent" "=Trash"
macro index,pager gi "<change-folder>=INBOX<enter>" "go to inbox"
macro index,pager Mi "<save-message>=INBOX<enter>" "move mail to inbox"
macro index,pager Ci "<copy-message>=INBOX<enter>" "copy mail to inbox"
macro index,pager gs "<change-folder>=Sent<enter>" "go to sent"
macro index,pager Ms "<save-message>=Sent<enter>" "move mail to sent"
macro index,pager Cs "<copy-message>=Sent<enter>" "copy mail to sent"
macro index,pager gt "<change-folder>=Trash<enter>" "go to trash"
macro index,pager Mt "<save-message>=Trash<enter>" "move mail to trash"
macro index,pager Ct "<copy-message>=Trash<enter>" "copy mail to trash"
macro index,pager gS "<change-folder>=DanskSpamklage<enter>" "go to spam"
macro index,pager MS "<save-message>=DanskSpamklage<enter>" "move mail to spam"
macro index,pager CS "<copy-message>=DanskSpamklage<enter>" "copy mail to spam"

macro index eT "<change-folder>=Trash<enter><delete-pattern>~A<enter>"

set signature="~/.config/neomutt/signatures/4-lxc.signature"

set crypt_use_gpgme=no
set crypt_replysign=no
set crypt_replysignencrypted=no
set crypt_verify_sig=no
set pgp_use_gpg_agent = no
set pgp_verify_sig=no
set pgp_autosign=no
set pgp_replyencrypt=no
