IMAPStore greyhat-remote
Host {{ .imapserver }}
Port  993
User {{ (bitwarden "item" "aa6b14e3-8eed-4c63-9631-acc900995b44").login.username }}
Pass {{ (bitwarden "item" "aa6b14e3-8eed-4c63-9631-acc900995b44").login.password }}
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore greyhat-local
Subfolders Verbatim
Path ~/.local/share/mail/greyhat/
Inbox ~/.local/share/mail/greyhat/INBOX
Flatten .

Channel greyhat
Expunge Both
Far :greyhat-remote:
Near :greyhat-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
# End profile

IMAPStore lxc-remote
Host {{ .imapserver }}
Port  993
User {{ (bitwarden "item" "ef74b952-4f57-4e92-86ab-ab76005e1d79").login.username }}
Pass {{ (bitwarden "item" "ef74b952-4f57-4e92-86ab-ab76005e1d79").login.password }}
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore lxc-local
Subfolders Verbatim
Path ~/.local/share/mail/lxc/
Inbox ~/.local/share/mail/lxc/INBOX
Flatten .

Channel lxc
Expunge Both
Far :lxc-remote:
Near :lxc-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
# End profile

IMAPStore insec-remote
Host {{ .imapserver }}
Port  993
User {{ (bitwarden "item" "8c702b13-488f-43ae-9f13-ab76005e3517").login.username }}
Pass {{ (bitwarden "item" "8c702b13-488f-43ae-9f13-ab76005e3517").login.password }}
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore insec-local
Subfolders Verbatim
Path ~/.local/share/mail/insec/
Inbox ~/.local/share/mail/insec/INBOX
Flatten .

Channel insec
Expunge Both
Far :insec-remote:
Near :insec-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
# End profile


IMAPStore dmarc-remote
Host {{ .imapserver }}
Port  993
User {{ (bitwarden "item" "ea685ca3-243f-45f7-9364-ab76005e06ba").login.username }}
Pass {{ (bitwarden "item" "ea685ca3-243f-45f7-9364-ab76005e06ba").login.password }}
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore dmarc-local
Subfolders Verbatim
Path ~/.local/share/mail/dmarc/
Inbox ~/.local/share/mail/dmarc/INBOX
Flatten .

Channel dmarc
Expunge Both
Far :dmarc-remote:
Near :dmarc-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
# End profile
