machine {{ (bitwardenFields "item" "systemsapi").hostname.value }} login {{ (bitwarden "item" "systemsapi").login.username }} password {{ (bitwarden "item" "systemsapi").login.password }}
machine {{ (bitwardenFields "item" "temporal").hostname.value }} login {{ (bitwarden "item" "temporal").login.username }} password {{ (bitwarden "item" "temporal").login.password }}
