#!/bin/sh

{{ if eq .chezmoi.os "linux"}}
{{ if eq .chezmoi.osRelease.id "arch"}}

if [ ! -x /sbin/git ]; then sudo pacman -S --needed base-devel git; fi
if [ ! -x /sbin/go ]; then sudo pacman -S go; fi
if [ ! -x /sbin/yay ]; then
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
fi

for app in gdb lldb neomutt urlscan urlview tmux zsh fuzzel msmtp foot wofi oh-my-posh kitty alacritty swappy slurp grim mbsync-git wlogout swww swaync
do
  if [ ! -x /sbin/${app} ]; then yay -SYg ${app}; fi
done

if [ ! -x /sbin/google-chrome-stable ]; then yay -SYg google-chrome; fi
if [ ! -x /sbin/wal ]; then yay -SYg python-pywal; fi

if [ ! -x /sbin/neomutt ]; then yay -SYg neomutt; fi
if [ ! -x /sbin/bat ]; then 
  yay -SYg bat
  bat cache --build
fi
if [ ! -f /usr/share/peda/peda.py ]; then yay -SYg peda; fi
if [ ! -d /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  yay -SYg oh-my-zsh-git
fi

if [ ! -d ~/.tmux/plugins/tpm ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

{{ end }}
{{ end }}
