# vim: filetype=neomuttrc

source ~/.config/neomutt/settings.muttrc

macro index,pager a "<enter-command>set my_pipe_decode=\$pipe_decode pipe_decode<return><pipe-message>abook --add-email<return><enter-command>set pipe_decode=\$my_pipe_decode; unset my_pipe_decode<return>" "add the sender address to abook"
macro index \Cr "T~U<enter><tag-prefix><clear-flag>N<untag-pattern>.<enter>" "mark all messages as read"
macro index O "<shell-escape>mailsync -Va<enter>" "run mbsync to sync all mail"
macro index \Cf "<enter-command>unset wait_key<enter><shell-escape>read -p 'Enter a search term to find with notmuch: ' x; echo \$x >~/.cache/mutt_terms<enter><limit>~i \"\`notmuch search --output=messages \$(cat ~/.cache/mutt_terms) | head -n 600 | perl -le '@a=<>;s/\^id:// for@a;$,=\"|\";print@a' | perl -le '@a=<>; chomp@a; s/\\+/\\\\+/ for@a;print@a' \`\"<enter>" "show only messages matching a notmuch pattern"
macro index A "<limit>all\n" "show all messages (undo limit)"

source /home/{{ .chezmoi.username }}/.config/neomutt/accounts/1-insec.muttrc
macro index,pager i1 '<sync-mailbox><enter-command>source /home/{{ .chezmoi.username }}/.config/neomutt/accounts/1-insec.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .emailinsec }}"
macro index,pager i2 '<sync-mailbox><enter-command>source /home/{{ .chezmoi.username }}/.config/neomutt/accounts/2-greyhat.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .emailgreyhat }}"
macro index,pager i3 '<sync-mailbox><enter-command>source /home/{{ .chezmoi.username }}/.config/neomutt/accounts/3-lxc.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .emaillxc }}"
macro index,pager i4 '<sync-mailbox><enter-command>source /home/{{ .chezmoi.username }}/.config/neomutt/accounts/4-dmarc.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .emaildmarc }}"

source ~/.config/neomutt/colors.muttrc

# macro index,pager \cb "<pipe-message> urlscan<Enter>"
