include "options.kdl"
include "workspaces.kdl"
include "inputs.kdl"
include "environment.kdl"
include "outputs.kdl"
include "layouts.kdl"
include "startup.kdl"
include "window-rules.kdl"
include "binds.kdl"
