environment { 
	DISPLAY ":0"; 
	XDG_CURRENT_DESKTOP "niri"
	// XDG_CURRENT_DESKTOP "GNOME"
	XDG_SESSION_TYPE "wayland"
	QT_QPA_PLATFORM "wayland"
	MOZ_ENABLE_WAYLAND "1"
	QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}
