window {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
   background-image: url("/home/{{ .chezmoi.username }}/.cache/current_wallpaper.jpg");
}
