[Desktop Entry]
Version=1.0
Type=Application
Name=insomnium
Comment=A fast local API testing tool that is privacy-focused and 100% local. For testing GraphQL, REST, WebSockets and gRPC.This is a fork of Kong/insomnia
Exec=insomnium --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=insomnium
Terminal=false
StartupNotify=false
Categories=Utility;
