[Desktop Entry]
Name=Slack
StartupWMClass=Slack
Comment=Slack
GenericName=Slack Client for Linux
Exec=/home/{{ .chezmoi.username }}/bin/slack.sh
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
