
function ne() {
  cd ~/git/chef-repo && /sbin/fzf -m | /sbin/xargs /sbin/zsh -c '</dev/tty nvim "$@"' ignoreme
}

function cnodesfzf() {
  ZLE_ENABLED=1
  if [[ "${0}" == cnodesfzf ]]; then
    ZLE_ENABLED=0
  fi

  local selected_host=$({~/git/chef-repo/scripts/cnodes & awk '{print $1}' ~/.ssh/known_hosts; }|sort|uniq|fzf +m --query "$LBUFFER" --prompt="SSH remote > " --color "prompt:#89b4fa")
  if [ -n "$selected_host" ]; then
    if [ -n "$TMUX" ]; then
      WINDOWNAME=$(echo ${selected_host}|cut -d . -f1)
      tmux rename-window -t work "${WINDOWNAME}"
    elif [ -n "$ZELLIJ" ]; then
      zellij action rename-tab "${selected_host}" >/dev/null 2>&1
      zellij action rename-pane "${selected_host}" >/dev/null 2>&1
    fi
    BUFFER="ssh ${selected_host}"
    if [[ ${ZLE_ENABLED} -eq 1 ]]; then
      zle accept-line
    else
      eval ${BUFFER}
    fi
  fi
  if [[ ${ZLE_ENABLED} -eq 1 ]]; then
    zle reset-prompt
  fi
}

function wcd() {
  local DIR=$(fd . --type directory ~/ ~/.config ~/git ~/git/cookbooks ~/src/private --maxdepth 1|fzf +m --prompt="directory > ")
  if [ -z "$DIR" ]; then
    exit 0
  fi

  if [ -n "$ZELLIJ" ]; then
    LAYOUT=default
    if [ -f "${DIR}/Makefile" ]; then
      LAYOUT=development
    elif [ -f "${DIR}/.kitchen.yml" ]; then
      LAYOUT=kitchen
    fi

    if [ "$LAYOUT" = "default" ]; then
      BUFFER="cd $DIR"
    else
      zellij --session work action new-tab --cwd "$DIR" --layout ${LAYOUT}
    fi

  elif [ -n "$TMUX" ]; then
    NAME=$(basename $DIR)
    tmux rename-window -t work "${NAME}"
    BUFFER="cd $DIR"
  else
    BUFFER="cd $DIR"
  fi
  zle accept-line
  zle reset-prompt
}

function clint() {
  docker run \
    -v "$PWD:/workdir" \
    -w /workdir \
    {{ .harborone }}/standard-images/ci/onecom-kitchen-build:jammy-rootless \
    rubocop --color
}

export GIT_AUTHOR_NAME={{ .name | quote}}
export DEBFULLNAME="${GIT_AUTHOR_NAME}"
export DEBEMAIL={{ (bitwarden "item" "de584f43-2bc2-4092-9d1c-b02100bfa9d6").login.username | quote }}
export DEBCHANGE_AUTO_NMU=no
export ONECOMID={{ .onecomid }}
export GOPRIVATE={{ .gitlabone | quote }}
