layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane size="60%"
    pane command="make" size="40%" {
      args "test"
      start_suspended true
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:status-bar"
  }
}
