layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="horizontal" {
    pane command="ssh" size="100%" name="work" {
      args "work"
      start_suspended false
      focus true
      close_on_exit true
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:status-bar"
  }
}
