@import "$HOME/.cache/wal/colors-wlogout.css";

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  background-image: none;
  font-size:${fntSize}px;
}

window {
  background-color: rgba(12, 12, 12, 0.8);
}

button {
  border-style: solid;
  color: white;
  background-color: @color1;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;

}

button:focus {
  color: white;
  background-color: @color1;
  background-size: 20%;
}

button:hover {
  color: white;
  border: 3px solid @foreground;
  background-color: @color2;
  background-size: 25%;
  border-radius: ${active_rad}px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
  border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
  margin : ${y_hvr}px 0px 0px ${x_hvr}px;
}

button:hover#screenshot {
  border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
  margin : 0px 0px ${y_hvr}px ${x_hvr}px;
}

button:hover#shutdown {
  border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
  margin : ${y_hvr}px ${x_hvr}px 0px 0px;
}

button:hover#reboot {
  border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
  margin : 0px ${x_hvr}px ${y_hvr}px 0px;
}

#lock {
  border-radius: ${button_rad}px 0px 0px 0px;
  background-image: image(url("$HOME/.config/wlogout/icons/lock.png"));
  margin : ${y_mgn}px 0px 0px ${x_mgn}px;
  background-size: 30%;
}

#screenshot {
  background-image: image(url("$HOME/.config/wlogout/icons/screenshot.png"));
  border-radius: 0px 0px 0px ${button_rad}px;
  margin : 0px 0px ${y_mgn}px ${x_mgn}px;
  background-size: 30%;
}

#shutdown {
  background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"));
  border-radius: 0px ${button_rad}px 0px 0px;
  margin : ${y_mgn}px ${x_mgn}px 0px 0px;
  background-size: 30%;
}

#reboot {
  background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"));
  border-radius: 0px 0px ${button_rad}px 0px;
  margin : 0px ${x_mgn}px ${y_mgn}px 0px;
  background-size: 30%;
}

