@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* { 
	font-family: "JetBrainsMono Nerd Font Propo";
	font-weight: 700;
    font-size: 14px;
}

window#waybar {
    background: @base;
    color: @text;
}

#workspaces{margin-left: 20px;}

#workspaces button, #workspaces button:hover {
  color: @overlay2;
  padding: 0 5px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  transition: none;
}

#workspaces button.empty {
	color: @surface1;
}

#workspaces button.active {
    color: @green;
}

#workspaces button.urgent {
    color: @red;
}

#language,#pulseaudio,#memory,#cpu,#disk,#clock,#tray{
	padding: 6px 10px;
}

#mpd{color: @rosewater;}

#language{color: @green;}
#pulseaudio{color: @peach;}
#memory{color: @yellow;}
#cpu{color: @flamingo;}
#disk{color: @pink;}
#clock{color: @mauve;}
#clock.date{color: @blue;}
#battery{color: @teal;}

/* Global tooltip styling */
tooltip {
    background-color: #303446; /* Mantle */
    color: #c6d0f5;           /* Text */
    border: 1px solid #8caaee; /* Blue */
    border-radius: 5px;       /* Rounded corners */
    font-family: "JetBrainsMono Nerd Font Propo"; /* Font family */
}
